@{
    ViewData["Title"] = "Home Page";
}
@model LoginModel


<div class="text-center">
    <form asp-controller="Home" asp-action="Login">
        <input asp-for="Username" />
        <input asp-for="Password" type="password" />
        <button type="submit">Login</button>
    </form>
    @if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage</p>
    }
    @if (ViewBag.Token != null)
    {
        <script>
            localStorage.setItem("token", "@ViewBag.Token");z
            console.log("Token saved to localStorage:", localStorage.getItem("token"));
        </script>
    }
</div>
